[2021-05-02 23:14] ac360 opened #2 "Enable pre and post deploy hooks"
Enable pre and post deploy hooks.  Useful for common pre/post tasks like bundling code.

[2021-06-10 18:36] ac360 opened #3 "Clarity on developer instances"
Please add clarity in the documentation whether a _Developer Instance_ is created for **every** _Service_, or does each developer have only one _Developer Instance_ which is replaced when they are working on multiple Services.

As a developer, I'm not as excited about having one Developer Instance that is overwritten when I work across multiple Services.  It adds a layer of complexity/worry that I

[2021-06-10 20:48] jeremydaly commented on #3
Developer instances are unique **per service**, which will allow you to have your own sandboxed working copies that can communicate across services. I will update the documentation.

[2021-06-10 20:54] #3 closed

[2021-06-10 21:36] dougmoscrop commented on #3
Are we still planning to have developer instances go away when you stop the session? I think so right? So the only way you have multiple developer instances is if you have multiple terminals going on?

[2021-06-10 21:44] jeremydaly commented on #3
Probably not any time soon. Developers should be able to preserve their data across multiple sessions for now.

[2021-06-10 22:32] ac360 commented on #3
I personally wouldn't want Developer Instances to last only as long as the dev session.

First, because it seems like this could go wrong and have bad consequences.

Second, because I create test data 99% of the time while doing development and I don't want that to disappear and have to recreate it every time I sit down to to development work.

Third, because I will most likely share my Dev Instan

[2021-06-10 22:44] jeremydaly commented on #3
We discussed this mostly in terms of reclaiming resources. We also floated the idea of using a local proxy (e.g. http://localhost:3000) to route to your developer instance as a way to better communicate the "local development" feel. This becomes slightly problematic if you're running multiple services at the same time, however. Different ports feels too easy.

Overall, we still want to draw a hard

[2021-06-10 22:49] dougmoscrop commented on #3
I think there's a way to separate the concerns here.  I agree losing test data you just created is bad.  The idea would be your development instance might hibernate - we could back up your data, and whatnot. It's just, if your terminal isn't attached, the instance isn't on - things like schedule tasks don't need to fire, because it was just for you.  "If a developer instance is running in the clou

[2021-06-10 22:55] dougmoscrop commented on #3
I want `cloud start` to feel synonymous with `npm start` - it's local but it's not, we're blurring the lines.   Basically, developer instances _aren't_ instances per se, they're just backed by ephemeral instances to give you access to the real cloud services you want to develop against -- they shouldn't show up in any lists, or be visible anywhere but your IDE/terminal. If you want other people to

[2021-06-11 02:22] ac360 commented on #3
Hmm, I can't yet see the value to the user in these concepts.

I'm a fan of the dev-in-the-cloud experience (if it has the speed of local) for the sole reason my dev environment would match my app's production environment identically, avoiding all surprises when promoting to production.  But once we start distorting that dev experience to auto-delete apps/data, shut off background tasks, add new p

[2021-06-11 06:47] Oklahoma1122 opened #4 "Pre"
Predate

[2021-06-11 06:47] Oklahoma1122 commented on #4
Post data

[2021-06-11 06:48] Oklahoma1122 commented on #4
[predata](pre)

[2021-06-11 11:27] jeremydaly commented on #3
The parity of instances is definitely non-negotiable 😉.

The other bits are just finding the right workflow and ensuring optimal development paths. Enabling "development environment clean up" isn't a new concept (e.g. local dev becomes unavailable once you stop your local emulator and PR and feature branches get automatically deleted when merged). Some of these existing workflows can be challenged

[2021-06-11 11:28] jeremydaly commented on #4
Can you explain what you mean by this?

[2021-08-25 15:50] #4 closed

[2021-09-07 13:25] Oklahoma1122 opened #23 "Hi! Thanks for creating a project for XCallbackURL. (I'm actually using XCallbackURL for a project I'm working on so this is awesome. :smiley_cat:)"
Hi! Thanks for creating a project for XCallbackURL. (I'm actually using XCallbackURL for a project I'm working on so this is awesome. :smiley_cat:)

This PR removes methods that just call the super classes method implementation, as well as `shouldAutorotateToInterfaceOrientation:` whose implementation is what the default behavior is already. I think it makes it easier to read the sample code and f

[2021-09-17 10:48] Lancer92 opened #26 "How to run app in offline?"

[2021-09-17 11:56] jeremydaly commented on #26
Hi @Lancer92! Your code instantly syncs to your personal development instance in the cloud, allowing you to develop/debug your application using a copy of the cloud infrastructure your production application runs on. This avoids the need to run the app offline so you don’t need to worry about local mocking which can cause fidelity issues.

[2021-09-27 09:34] Lancer92 opened #29 "Error: Cannot find module '/tmp/task' - impossible to work with service!"
All requests responds with `{"message":"Internal Server Error"}`
In the logs at `https://cloud.serverless.com/:orgId/services/:serviceId/instances/:instanceId/overview` there are next:
[code]

[2021-09-27 10:07] dougmoscrop commented on #29
Hey, can you update to the latest CLI and redeploy?

[2021-09-27 10:09] Lancer92 commented on #26
Hi @jeremydaly !
My regards, this is awesome approach.
As I have noticed, serverless cloud uses a lot of best practices, so I decided to try it out.

But what about to following **Clean architecture** - and be able to run app by providing other api (express) and data (In Memory, Redis) as infrastructure? this will allows to have some fast tests. I need it mostly because now I faced some problems w

[2021-09-27 11:15] Lancer92 commented on #29
Yes, after update I started to see error, there was missing dependency
import pkg from 'uuid';
const { v4 } = pkg;
    at ModuleJob._instantiate (node:internal/modules/esm/module_job:124:21)
    at ModuleJob.run (node:internal/modules/esm/module_job:179:5)
    at Loader.import (node:internal/modules/esm/loader:178:24)
    at importModuleDynamicallyWrapper (node:internal/vm/module:437:15)
    at jN

[2021-09-27 11:16] #29 closed

[2021-09-27 17:48] dougmoscrop commented on #29
Good point! Glad to help and we will work on making sure logs are always accessible when you need them.

[2021-09-28 00:45] jeremydaly commented on #26
Hi @Lancer92! Thanks for the feedback and the questions. We just released an update to our syncing module that should get the syncing down to less than 1 second for most code changes. Larger files will be limited by connection speed. We're also aware of the `/tmp/task` issue and have released a fix.

In terms of using Express, we are also about to launch "Bring your own framework (BYOF)" support t

[2021-09-28 16:59] bencao opened #31 "Invalid instance name for google auth users whose name contains a dot"
Hi team,

I got the following error when login with my google suite. Assume the user name is `jack.susan@mycompany.com`

When I try `cloud` in an established cloud project directly I got the following error:

[code]

[2021-09-29 09:42] bencao opened #33 "Workflow for React UI development"
Hi Team, I tried the status example to get an idea of how React development would look like in the Serverless Cloud.

Here's a log of my attempts:

1. First I tried to change some title text in a component file, and although the `cloud` syncing shows that "Successfully updated your code in less than a second" the change wasn't reflected in my personal instance.
2. Then, I ran `yarn` in the fronten

[2021-09-30 14:11] Lancer92 opened #34 "Sync problems. Looks like caching works buggy and/or some condition expression has typo"
File that is updated often is not synced. It caused syncing, but looks like other files are synced.
It syncs change in one small file always in 3-5 seconds, but not actually of this file is get synced.
I tried to disable autosave 'on focus lost' in vscode, and when saving manually with cmd+s but it is not syncing correctly files too.
Sometimes I receive even old version of some file. I started to

[2021-09-30 14:12] jeremydaly commented on #34
Hi @Lancer92! What version of the CLI are you using? We released a bug fix the other day.

[2021-09-30 14:27] Lancer92 opened #35 "Route level middleware not works in serverless cloud api"
example
[code]
Actually only called last callback, and this example from docs with cors() is not working https://www.serverless.com/cloud/docs/apps/api#middleware

[2021-09-30 14:29] Lancer92 commented on #34
2.2.1

[2021-09-30 14:38] jeremydaly commented on #34
Thanks, @Lancer92. We're investigating.

[2021-09-30 14:40] jeremydaly commented on #35
Thanks for the report! We made some modifications to the inline middleware handling the other day and this may have caused a regression. Investigating.

[2021-09-30 14:42] Lancer92 opened #36 "Is it possible to avoid downtime & 300 seconds timeout for a first requests after syncing?"
logs:
`2021-09-30T14:22:53.940Z ...-200299b7e141 Task timed out after 300.10 seconds`
response:
`503 {"message":"Service Unavailable"}`

[2021-09-30 14:48] jeremydaly commented on #33
Hi @bencao! Thanks for the detailed feedback.

This is certainly not the workflow we envision or how it should work now. First, please make sure you are on `v2.2.1` of the CLI. We've added some major performance enhancements to the syncing capabilities that should reduce most code change syncs to less than a second. Larger files (like big old react-starter templates in node_modules) will still be

[2021-09-30 14:51] jeremydaly commented on #31
Hi @bencao! Thanks for reporting this. Users should _not_ be able to create organization names that contain a dot, so this same restriction was ported over to Serverless Cloud as we integrate with the main Serverless.com authorization system. We are investigating how this was possible and will have a fix soon.

[2021-09-30 14:52] #26 closed

[2021-09-30 15:09] emrahssamdan commented on #34
Hi Lancer, Could you please provide your org-name and the URL of your instance? We'll need those to further investigate the issue.

[2021-09-30 15:17] emrahssamdan commented on #36
Hi @Lancer92, I understood sync is not timing out but the requests coming to your personal instances are timing out, right? Could you please provide your org-name and personal instance URL for lettting us investigate closely?

[2021-09-30 15:44] Lancer92 commented on #36
I answered you in twitter

[2021-09-30 16:13] dougmoscrop commented on #36
Sync should not incur any downtime, i will investigate. Thanks.

[2021-09-30 16:19] rschick commented on #34
@Lancer92 are you using Typescript?

[2021-09-30 16:29] Lancer92 commented on #34
yes

provided in Slack

[2021-10-01 17:22] dougmoscrop commented on #36
Just to keep you in the loop, I've reproduced this independently of your project and I am working on a solution.

[2021-10-15 08:55] #36 closed

[2021-10-15 08:56] #34 closed

[2021-12-08 02:19] DMeechan opened #63 ""Serverless Cloud CLI auto update failed" on latest version (v2.5.6)"
The CLI was working fine for me ~1 hour ago on v2.5.5. Since then, v2.5.6 has been released and auto update doesn't seem to be working properly.

I've updated from v2.5.5 to the latest version (v2.5.6):

[code]

And have confirmed that the package version in`.../@serverless/cloud/` is `2.5.6`

However, every command results in the same error message "Serverless Cloud CLI auto update failed":

[cod

[2021-12-08 03:46] jeremydaly commented on #63
Thanks for the report. We are investigating this.

[2021-12-08 04:11] jeremydaly commented on #63
@DMeechan - The issue has been resolved. Please try running the `cloud` command again and that should update you to version `2.5.7`. Please let us know if you have any other issues.

[2021-12-08 04:11] #63 closed

[2021-12-16 10:48] #35 closed

[2021-12-16 10:48] emrahssamdan commented on #35
This issue has been resolved.

[2021-12-16 10:49] emrahssamdan commented on #31
This issue has been resolved.

[2021-12-16 10:49] #31 closed

[2022-01-08 17:26] SteveDeWald opened #80 "frontend ignored"
Hello,

I followed the workflow in the Serverless Cloud docs to fork the `cloud-chat` app and get started.  The cloud-chat readme refers to a `frontend/.env.development`, but the frontend folder wasn't checked out when I forked the app.

I'm guessing the issue has something to do with the frontend folder being included in the `.serverlessignore` file.

Cheers.

[2022-01-08 17:44] dougmoscrop commented on #80
You're right, this is a gap in how the ignore + fork aspects interact which we need to fix.  In the mean time, you can see the code for that example project here: https://github.com/serverless/cloud/tree/main/examples/cloud-chat/frontend

[2022-01-08 17:45] jeremydaly commented on #80
If you clone from the example project, be sure to replace the `package.json` from your forked version and it will connect to the app you've already created.

[2022-01-08 17:55] SteveDeWald commented on #80
Thanks for the quick responses.

Ha, I just figured that out and was about to suggest adding that to the readme.  It's working now, thanks!

[2022-01-08 17:56] dougmoscrop commented on #80
Sorry about that, we are definitely going to make this better!

[2022-02-04 01:48] Gazzini opened #98 "Import Paths -- Always relative?"
Do all imports have to be relative?

I prefer this:
`import { bar } from '~/services/foo'`

to this:
`import { bar } from '../../services/foo'`

In Serverless Framework, I accomplish it like this:
`tsconfig.json`
[code]

`webpack.config.js`
[code]

Thanks for making this framework, love the direction, and I'm excited to try it out.

[2022-02-04 04:58] dougmoscrop commented on #98
Hi! Serverless Cloud only performs transpiling of your sources, it doesn't actually use tsc - that said, I think we could probably accomodate `~` as a custom prefix for saying 'relative to the base of the cloud project', maybe maybe 'relative to the nearest package.json' ? relatively easily. There's a discussion underway here https://github.com/serverless/cloud/discussions/72 regarding monorepo su

[2022-02-04 18:35] Gazzini commented on #98
Thanks @dougmoscrop, I think that adding `~` as a custom prefix would solve my problem perfectly.

I don't have an opinion on if it's relative to the nearest package.json or the root of the cloud project, as they're the same in my case.

[2022-02-05 00:52] Gazzini opened #100 "Deploy Logs?"
Here's a pickle... I'm working on this project:
https://github.com/Gazzini/crm

I can run `cloud`, and the app deploys to my personal instance, and it works great. This takes less than 30 seconds.

However, if I run `cloud deploy production`, the deploy hangs forever.

Is there any way for me to inspect what's going on?

[2022-02-05 04:00] dougmoscrop commented on #100
Sorry about this. You're right that we should be surfacing more logs to your client, I'll add an issue to our backlog to improve that.

In your immediate case, as far as I can tell this is due to the size of your node_modules folder, which is almost 500MB.  By default, cloud syncs everything - we're working on ways we can make this better, but we want to have your devDependencies available to us b

[2022-02-05 04:03] dougmoscrop commented on #100
Oh, and we are actively working on improving cold start times, but I wanted to point out that Prisma seems to have a couple issues still open https://github.com/prisma/prisma/issues/10724  https://github.com/prisma/prisma/issues/11266  -- just FYI.

[2022-02-05 10:06] Gazzini commented on #100
Awesome, thanks for the context!

I didn't realize my `node_modules` folder was so big -- I was able to shrink it from 454M -> 304M by excluding the dev dependencies with `npm install --production`, but I'm still pretty far off, according to the new error message I'm seeing:

`Unzipped size must be smaller than 167106156 bytes` (~167 mb).

It's actually great to see that message 🎉 , I wasn't seein

[2022-02-05 15:36] dougmoscrop commented on #100
I still have a few ideas, but the intention is to make serverlessignore a last resort - for example, with prisma, we may just build in ignoring the bits that aren't needed, or, move to containers for deployment if your bundle size is larger than the limit - the goal will always be for us to manage as much of the complexity as possible without getting in your way.

Again, sorry for the inconvenienc

[2022-02-07 15:39] tysoncadenhead opened #101 "Stuck on Updating CLI"
As of this morning, anytime I run any cloud command, I get a `Updating CLI` message. It never resolves and eventually times out, and yes -  I'm connected to the internet :P

![Screen Shot 2022-02-07 at 9 38 16 AM](https://user-images.githubusercontent.com/355354/152820280-e0669207-44c3-4dfb-8bd5-73f225031f1b.png)

[2022-02-08 18:31] tysoncadenhead commented on #101
I updated to the latest, but it's not giving me any more description than before

[2022-02-08 18:43] tysoncadenhead commented on #101
Update: when I run cloud out of my dev dependencies, it's not getting stuck, so it's probably just something weird on my side

[2022-02-10 13:34] emrahssamdan commented on #101
Hi @tysoncadenhead, are you able to get it correctly?

[2022-02-10 13:35] #80 closed

[2022-02-11 20:15] bencao opened #107 "How to install a package properly?"
For example, if I would like to install `aws-sdk` package, what should I do?

[2022-02-11 21:56] bencao commented on #107
Having some difficulty installing a bigger package. If there's an option to force upload my local directory to an instance would be great.

[2022-03-05 22:52] sangdth opened #114 "How to setup GitHub Actions"
Currently I'm trying to bootstrap a project. It's just a starter typescript with demo /users.

My GitHub Action yaml:
[code]
The last step will return error like:

[code]

The tsconfig
[code]

Should I install those packages?

[2022-03-06 12:10] sangdth opened #115 "How to get the request's headers?"
How can I get the request headers from frontend? The documentation does not show how to have it.

[2022-03-07 00:41] jeremydaly commented on #115
The `api` interface works like Express. The request headers are available via `.headers` on the Request object. E.g. `req.headers`.

[2022-03-07 06:57] sangdth commented on #115
Thanks jeremydaly.

So far it always shows undefined value. Do I need to do anything in order to see the headers? If I added the `credentials: include` on the fetch the request will be failed. Is the cors setup required here?

I also think about the option that maybe the client does not HAVE headers at all while making requests. I will double check and get back to this.

[2022-03-07 14:56] dougmoscrop commented on #115
You should not need to do anything to see the headers, you can test this with a simple route that console.logs them, and use the Cloud Dashboard Interact feature to call it - as for CORS, if you're calling this API from a frontend hosted elsewhere, yes you will need to configure CORS!  Can you share more about what your application looks like?

[2022-03-07 15:48] sangdth commented on #115
Thank you dougmoscrop for informative comment. I'm building a Nextjs app, and recently I try to use a fetch wrapper to make requests to serverless function. I think because I don't include the headers in the fetch configs.

The wrapper:
[code]

The call:

[code]

[2022-03-07 16:00] eahefnawy commented on #115
@sangdth yeah it doesn't seem that you include any headers. Would this call work?

[code]

[2022-03-08 00:44] sd-hypredge opened #116 "Setting timeout for tests"
I have a SaaS database that I use for testing. The before and after tests  need configuration. My tests run into
  thrown: "Exceeded timeout of 5000 ms for a test.
    Use jest.setTimeout(newTimeout) to increase the timeout value, if this is a long-running test."

I have tried multiple options, none of which work:
a. using jest config file and setting a testTimeOut in it, both typescript and javas

[2022-03-08 00:55] sd-hypredge opened #117 "Mechanism to separate local and cloud tests"
We use a database that is SaaS in production and a local instance in development. We need the ability to NOT run our integration tests in serverless cloud against our SaaS DB, as it costs us money.
while jest has the ability to define specific test regex, serverless cloud seems to be forcing its own path and regex. We need inputs/ guidance/capabilities on separating local tests from cloud tests

[2022-03-08 01:10] dougmoscrop commented on #115
Where is the next.js app being served from?

[2022-03-08 01:12] dougmoscrop commented on #116
Completely agree, @rschick can you take a look at this?

[2022-03-08 01:16] dougmoscrop commented on #117
We have been discussing moving some aspects of testing to local, but I'm curious is there any way you could start the integration test database or is it all dockerized?

I wonder if we should consider having something like a way to plug in to a fargate task to spin up containers - @jeremydaly?  It would incur probably 60 seconds of overhead to start and we'd have resonable limits on how long it co

[2022-03-08 01:55] rschick commented on #116
You should be able to use `jest.setTimeout()`, but you need to import the jest global object using

[code]

[2022-03-08 02:07] dougmoscrop commented on #116
I think we have a global timeout of 60 seconds though, right? We could consider increasing that

[2022-03-08 03:27] sd-hypredge commented on #116
Thanks @rschick , that worked.
Would be helpful to others if this were in the docs. Closing the issue

[2022-03-08 03:28] #116 closed

[2022-03-08 03:34] sd-hypredge commented on #117
If the tests could run docker in serverless cloud, that would allow me to have a seamless experience. A rather easy way would be for the tests to figure out things for themselves using a flag.

if (serverlesscloud) {
  test_setup_steps_for_remote_execution
} else
  local_setup

Maybe there is already such a flag that I can use in code ? Pardon my shallow knowledge here, I am just 3 days old to ser

[2022-03-08 09:18] sangdth commented on #115
@eahefnawy Hei thanks for quick response, sorry I was in meetings. The credentials include cause the CORS blocked me
[code]
Remove it will make it works. And the headers is there. Thanks.

@dougmoscrop The Nextjs is running on localhost, and deployed to Vercel. Have not tested on production yet.

But I think it works as expected now. Thanks all for your nice support! <3

[2022-03-08 13:38] #101 closed

[2022-03-08 13:38] #98 closed

[2022-03-08 14:34] #115 closed

[2022-03-08 17:13] tysoncadenhead commented on #101
Yep, this can be closed.

[2022-03-08 17:36] tobkle opened #118 "Update installed, but your enviroment is still loading the outdated version"
Wanted to run my sandbox environment in cli shell with:

[code]

Receiving suddenly the error message:

[code]

tried:

[code]

But cannot start cloud any more?

Any hints?

[2022-03-08 22:57] sd-hypredge opened #119 "Request for angular starter"
Like vue and react starters, appreciate support for angular
I am willing to create and contribute, as I am starting to adapt a react one to angular. Want to make sure no one else is on it, just to avoid duplication

Edit :
I have PR ready that gets the initial setup going for angular. I am not sure if you are willing to merge a PR form an external person, but if you are, then please create branch

[2022-03-09 03:47] dougmoscrop commented on #119
Contributions are welcome!  We are working on improved support for a few frameworks beyond just examples, as well, but Angular was not part of that so happy to work from whatever you can help us out with!

[2022-03-09 03:51] sd-hypredge commented on #119
@dougmoscrop  Looks like your own dev process is based on feature branches, so it would be helpful if there is a feature branch that I can do a pull request on. Once you have a feature branch in place, let me know the name/ details , and I can do a pull request. Appreciate the quick response

[2022-03-09 04:02] dougmoscrop commented on #119
Sure, will do in the morning!

[2022-03-09 09:49] eahefnawy commented on #118
do you mean that every time you run `cloud` you get this message? Could you let me know how you installed the CLI originally? Did you use npx by any chance? Do you use an npm package manager?

Sorry for the bombarding you with questions, I just need to understand your environment 😅

[2022-03-09 17:01] dougmoscrop commented on #118
Sorry about this, Tobias!  We are working on making the auto-update process more robust, as well as improving the instructions if it encounters a problem.

[2022-03-09 18:27] tobkle commented on #118
Don't mind, that work-around with --skip-update is fine for me.

[2022-03-09 20:08] sd-hypredge commented on #119
Pull request in place.

[2022-03-13 19:46] sd-hypredge opened #121 "Test Error"
I am getting this error running my tests, and have no clue whats causing this.
Seems like a timeout, but I don't see any literature or docs on timeout limits or such while running tests

To quote the documentation

Question: What volume/duration of tests can I reasonably run on your platform ?

✔ Test instance started: https://powerful-data-izo1o.cloud.serverless.com
Error: waitForEvent timed out

[2022-03-13 19:55] sd-hypredge opened #122 "Need control of jest test concurrency"
I have a Data Abstraction Layer (DAL) that interfaces with a remote saas database, and an service layer that interfaces with the DAL. Each test does its thing and drop the entire dataset. I have the DAL and the api tests in separate files, and seems that they end up running in parallel, and stepping on each other's toes.

If I have better control on the tests, like run them in sequence (--runInBan

[2022-03-15 01:43] dougmoscrop commented on #121
Apologies, this is a misconfiguration between how long the CLI is willing to wait for the event that says the test completed, and how long the tests can run for.  We will get these in sync.

In terms of volume, @jeremydaly can weigh in but I think it will boil down to "what you're willing to pay for" since it would just be billed based on usage;  for duration, we could be more flexible up to the 1

[2022-03-15 01:45] dougmoscrop commented on #122
It makes sense, I'm honestly not sure if we want to keep forcing you in to Jest (we have started talking a bit about Vitest internally), or just make this a more abstract sort of test runner where you can call `cloud test [pattern1] [pattern2], etc.` and we just concurrently run each of those patterns by invoking `npm t [pattern]` in a separate thing - that way you'd be able to control concurrency

[2022-03-16 00:45] sd-hypredge commented on #122
It works best if I don't need to know the internals of jest to use serverless cloud . I would definitely prefer "cloud test [pattern1]" etc metaphor. Just to make the point... I had to spent time learning and understanding basic jest just to even try to tweak some basic functionality.

[2022-03-16 00:52] sd-hypredge commented on #121
Glad to know, and will wait for this to get fixed
Being able to run my tests straight up in serverless has been valuable, as I dont have to spend time jumping across local and remote environments to ensure it all works. So it is definitely valuable and worth paying for, though its hard to quantify.

Beyond that, from a technical standpoint, some large projects accumulate an hour or so worth of aut

[2022-03-17 00:56] sd-hypredge opened #123 "Error running tests"
This started to appear all of a sudden today... Not sure what the issue is, and what the fix is.
My development team is held up on this for hours now

17:51:16 ─   Module /tmp/task in the setupFilesAfterEnv option was not found.
17:51:16 ─
17:51:16 ─ ● Validation Error:
17:51:16 ─
17:51:16 ─   Configuration Documentation:
17:51:16 ─   https://jestjs.io/docs/configuration
17:51:16 ─          <rootD

[2022-03-17 01:35] dougmoscrop commented on #123
Can you tell us more about your project configuration? cjs or ESM? JS or typescript?

[2022-03-17 01:36] dougmoscrop commented on #123
Or an org name

[2022-03-17 01:37] sd-hypredge commented on #123
hypredge

[2022-03-17 01:37] sd-hypredge commented on #123
setupFilesAfterEnv seems to be a jest configuration option

[2022-03-17 02:11] dougmoscrop commented on #123
Thanks, ok we will look at your instance to be sure, but I have an idea of what causes this regression and we will fix it ASAP, and make sure to cover the gap that missed this in our automated tests

[2022-03-17 02:26] sd-hypredge commented on #123
Is there a workaround that lets me continue ? I am guessing you folks pushed a change, can you not rollback till you fix this?

[2022-03-17 06:16] sd-hypredge commented on #123
Seem to be fixed now. Closing issue

[2022-03-17 06:16] #123 closed

[2022-03-23 04:57] sd-hypredge commented on #121
I have gotten to a stage where my integration tests don't finish any more. Is there an ETA for fixing this ?

[2022-03-23 14:12] dougmoscrop commented on #121
Hey, I am working right now on trying to help unlock you by supporting longer runs, and I hope we can get to some bigger more ambitious changes to testing very soon

[2022-03-23 21:35] dougmoscrop commented on #121
As of CLI 2.8.1, it should wait up to 5 minutes, with the ability to bump that up further pending a rollout on our side - does that help you in the short term?

[2022-03-23 23:05] Ataraxy opened #135 "ERR_MODULE_NOT_FOUND - Cannot find package"
Example:

[code]

All that exists within the index.js file is this:

[code]

This is in a brand new app that was created with the js api template. Both the dayjs package is correctly installed and type module are in the package.json

Even importing properly exported modules from a local file provides a similar error instead of 'cannot find package' it would be 'cannot find module'.

I'm at a loss

[2022-03-24 00:04] dougmoscrop commented on #135
Are you on Windowa by any chance?

What version does cloud -v print?

[2022-03-24 00:17] Ataraxy commented on #135
Yes I am.

Using v2.8.1

[2022-03-24 00:23] dougmoscrop commented on #135
Okay, there was a bug with how we synced file paths that should be fixed, but I think you might need to edit a fille with the shell open, have you done that?  If so can you provide me your org name?

[2022-03-24 00:33] Ataraxy commented on #135
The org name is adinventive.

For what it's worth I've only been editing files with the cloud shell open.

[2022-03-24 01:41] dougmoscrop commented on #135
gotcha, working on it now, I think I know what the issue is, sorry about this.

[2022-03-24 02:37] dougmoscrop commented on #135
Hmm, no, honestly this is behaving as if you're running an older CLI.  You've exited and restarted it (like you don't have a long-running shell going, and then you're running 'cloud -v' in a separate terminal, or have a second shell running)

Can you uninstall/reinstall the cli globally - and also, try creating a new project, does it still happen?

[2022-03-24 02:47] Ataraxy commented on #135
I've done both with the same result.

[2022-03-24 03:10] dougmoscrop commented on #135
Okay, sorry about this.  I know it's annoying but let's start from squre one to make sure we are on the same page:

- run `npm uninstall -g @serverless/cloud`
- run `cloud` (confirm it errors that it cannot be found)
- mkdir some-new-dir
- cd some-new-dir
- run `npm install -g @serverless/cloud`
- run `cloud -v` (confirm it prints 2.8.1)
- run `cloud` and follow the prompts to create a new project

[2022-03-24 03:14] Ataraxy commented on #135
It's all good. Those were precisely the steps I took a bit ago.

I just went through the entire process again.

The name of the app is error-example

[2022-03-24 04:05] dougmoscrop commented on #135
not my finest hour, I think I got it - can you try 2.8.2?

[2022-03-24 04:07] Ataraxy commented on #135
Looks like everything is working again on my end with the new version.

I really appreciate the effort!

[2022-03-24 04:11] dougmoscrop commented on #135
Thank you for being so patient!

[2022-03-24 17:20] #135 closed

[2022-03-24 17:20] #2 closed

[2022-03-25 02:24] sd-hypredge commented on #121
Thanks, this works great.
Closing as it is not an issue any more

[2022-03-25 02:24] #121 closed

[2022-03-28 15:09] dougmoscrop commented on #33
Hey @bencao - we've made, what I believe, are some really amazing improvements in this workflow.  Not only for React, but for many other frameworks - check out the [examples](https://github.com/serverless/cloud/tree/main/examples) to see how we enable support for a `cloud:build` hook and better local dev (`cloud dev`).  Please feel free to share any feedback!

[2022-03-28 15:09] #33 closed

[2022-04-14 14:21] #119 closed

[2022-04-18 15:20] taylorpreston opened #146 "Next.js: Display a clearer error message if you try to import Cloud SDK in the front-end"
Hey!

I'm getting this error when trying to import the storage module from serverless cloud.

```import { storage } from "@serverless/cloud";```

Anyone else having this issue?

This is the output in the terminal.
[code]

[2022-04-18 15:38] rschick commented on #146
Hi Taylor, that indicates a parsing error reading your package.json file. Can you post the contents here so I can take a look?

[2022-04-19 14:44] taylorpreston commented on #146
@rschick here's my package.json 👍

[code]

[2022-04-19 16:38] sd-hypredge opened #148 "deploy cli command fails"
I have an application that works fine with the personal instance. However the command "deploy" on cli fails, and there doesnt seems to be a log/output that points me to what went wrong

My instance details as below
 https://lightning-stack-cn0lr.cloud.serverless.com is the personal instance
https://brave-api-uamsm.cloud.serverless.com ins the instance I want to deploy to production

appreciate hel

[2022-04-19 17:01] rschick commented on #148
We're working on adding build logs to the dashboard. In the meantime, can you try running the build locally using `cloud run build`, or just `run build` inside the cloud shell, and see if it surfaces the build errors?

[2022-04-19 17:30] taylorpreston commented on #146
Hey @rschick I'm getting a "This link is no longer active" message on the slack invite. 🤷

[2022-04-19 17:55] rschick commented on #146
Sorry about that, try https://www.serverless.com/slack

[2022-04-20 15:31] rschick commented on #114
Sorry for the late reply. I was able to fix this with the following `tsconfig.json`:

[code]

There is also a type error in `index.ts` that I fixed by adding `as any` to the `data.get()` call:

[code]

[2022-04-20 15:33] rschick commented on #107
@bencao is this still an issue? There have been fixes related to the sync process that should have fixed that error.

[2022-04-20 21:09] sd-hypredge commented on #148
I didnt find the issue, but it went away once I killed my angular live server.

[2022-04-20 21:09] #148 closed

[2022-05-20 20:30] #122 closed

[2022-06-10 21:51] tfiliano commented on #107
I guess my problem is related to this, I wonder what I am doing wrong on windows 10, node 14

![image](https://user-images.githubusercontent.com/10772657/173155732-1e857a9f-5f7c-4899-a81d-d8f5f176faba.png)

[2022-07-07 22:01] jdrydn opened #159 "res.sendFile doesn't send static files"
**tl;dr:** Trying to get a SPA running from a subdirectory (`/app`), thought I could use `res.sendFile` to serve the `./static/app/index.html` for `GET /app/*` but it looks like the dev instance has a different set of `static/` files to the personal instance.

----

**Use-case:** Serving a SPA from a subdirectory (`/app`) on Serverless Cloud:

- Requests to `/app` render the SPA fine, as [per the

[2022-07-07 22:20] rschick commented on #159
Thanks for bringing this to our attention. It looks like there could be an issue with sendFile and static files. You are correct that in stage deployments static files are not in the local FS, but sendFile should handle this.

Have you tried `http.on(404)`?

[code]

[2022-07-08 06:48] jdrydn commented on #159
Hey @rschick, thanks for getting back to me.

Okay cool - so that would suggest there's a bug in `sendFile` where it doesn't properly send static files (which I imagine are just ~on S3~ in storage?)

This is a perfect solution for hosting a SPA in front of an API-like project, but I'm afraid that's not a solution for this project, as the SPA is (currently) a sub-directory & the rest of the routes

[2022-07-08 06:51] jdrydn commented on #159
That's not entirely fair - I'm now looking to see if I can expand the SPA to include some SSR packages & rework the client-side store & auth to cover a server environment, if so then running the SPA as the whole frontend & `http.on(404, ...)` would work fine.

[2022-07-08 13:52] rschick commented on #159
@jdrydn Ok I see what you mean now. I'll get the team to look into this.

[2022-08-06 02:16] ThallesP opened #165 "'decorators-legacy' isn't currently enabled"
Hello!

I'm using tsyringe as my DI but this error appears:
![image](https://user-images.githubusercontent.com/76017384/183229651-16de99d9-4e58-4343-9e1c-075f051bb39e.png)

Maybe it is something with the [babel configuration](https://stackoverflow.com/questions/52262084/syntax-error-support-for-the-experimental-syntax-decorators-legacy-isnt-cur).

I don't think I can change the babel configuration

[2022-08-06 02:36] ThallesP commented on #165
Managed to solve.

Adding `@babel/plugin-proposal-decorators` as dev dependency and creating the file .babelrc with this content:
[code]

[2022-08-06 02:40] #165 closed

[2022-08-08 20:59] ThallesP commented on #165
note: if anyone is using tsyringe and having an error that it can't find the type, you might need `"babel-plugin-transform-typescript-metadata"` as a plugin

[2022-08-26 08:00] 403access opened #172 "TypeScript Enhancement: data.set<T>"
Hello all together!

Wanted to ask whether the `interface` of `Data` can be slightly modified?

As an example, let's see the following problem.

As of now, one of the `set` method signatures looks like that:
[code]
Instead, it should be:
[code]

It's fatal using `any` as it leads to skipping the actual type safety of TypeScript:
[code]

Thanks and have a nice day / night whereever you are located

[2022-08-28 16:41] abzork opened #174 "Serverless cloud clone 'Timed Out'"
Hello, I am trying to clone a serverless project's prod stage locally to start work on it.

prod was created by a different developer, and I am now trying to clone it so I can start working on it. I have admin access in the organisation.

However the process keeps failing with a "timed out" error.
Exact error response is

Can you please check what's going on?
I am cloning using the below command
`

[2022-08-29 15:17] rschick commented on #174
Thanks for reporting this, we're taking a look.

[2022-08-29 16:46] rschick commented on #174
@abzork This is an issue on our end. The clone operation is failing when trying to copy files in storage from the source to the the target instance. We are working on a fix and will update here when a fix is ready.

As a work around, you can clone another instance that doesn't have as many files in storage. If you need storage files in your instance, you can manually download them from the source

[2022-08-31 18:45] abzork opened #175 "Error when deploying to an Instance"
Hi guys,

I am facing an error when I try to deploy my code to an Instance.
On the Terminal window on my pc everything works. and after the deploy command is done it says that it has successfully deployed.
However on the instance logs, I can see the error, and none of the API routes are being shown.

Below is the command and result on the terminal.

`npx cloud deploy test

ℹ Please select an organ

[2022-08-31 18:50] abzork commented on #174
Thanks for your advice,
I was able to ask the previous team to manually send their working copy. However I am facing another error from serverless when I try to deploy it to an instance. I have posted it on a different thread.

[2022-08-31 20:03] abzork commented on #175
I have figured it out.
For anyone else facing this issue, I was running the deploy command inside the root folder where we have our serverless project.
Instead I was supposed to run the deploy command inside the subfolder 'src' where we keep the 'app.js' file.

[2022-08-31 20:03] #175 closed

[2022-09-01 06:32] emrahssamdan commented on #174
Hi @abzork, this issue should be resolved now. Could you please check and confirm?

[2022-09-07 11:37] tomhanoldt opened #177 "data api: iterating over results by label fails with unknown error"
When iterating over results of a query by label an unknown error is thrown:
- if it is intended that label responses cannot be iterated, the documentation should be adjusted and the input parameters checked
- otherwise this is a bug

[code]

results in:
[code]

[2022-09-09 12:47] tomhanoldt commented on #177
even iterating manually throws the unknown error
[code]

[2022-09-09 12:47] tomhanoldt commented on #177
sorry - reopen ^^

[2022-09-09 19:32] emrahssamdan commented on #177
Hi @tomhanoldt, we are currently working on the problem and will let you know when we have the fix available. Sorry for the situation.

[2022-09-14 05:25] emrahssamdan commented on #177
Hi @tomhanoldt, this should be resolved now. Could you please check and confirm that it's working for you? Thanks for the heads up!

[2022-09-14 07:37] tomhanoldt commented on #177
Great! @emrahssamdan - specs are green now 💯  - thank you and the team a lot 👍

[2022-09-15 17:28] benminer commented on #172
Totally, will take care of this. Thanks for submitting!

[2022-09-15 17:28] #172 closed

[2022-09-17 22:39] mNutella opened #180 "Personal Instance (Nextjs + Typescript) doesn't work"
I created a new app based on your NextJS + Typescript template. I tried to use my **Personal Instance** to ensure it works and saw this [screenshot](https://user-images.githubusercontent.com/37267130/190878233-044231ba-0558-422d-bb55-07bf6e457371.png)

Personal Instance
https://outstanding-deploy-8uxua.cloud.serverless.com
Preview Instance
https://reliable-source-yhg33.cloud.serverless.com
Stage I

[2022-09-18 00:34] jeremydaly commented on #180
Hi @mNutella, this is how the system is intended to work. Your personal sandbox is optimized for fast syncing and backend deployments. The local developer server for Next.js gives you hot reloads and a much faster feedback loop for that framework. We proxy any backend service requests from your local machine (data, params, storage, etc.) that run in your SSR routes, as well as your /api requests,

[2022-09-18 18:10] mNutella commented on #180
Thank you @jeremydaly for the quick response - everything works fine!

I just was confused with the Personal Instance link and [documentation](https://www.serverless.com/cloud/docs/apps/apps-instances#developer-sandboxes-personal-instances) says that:

If I understand correctly, the Personal Instance link is useless during local development in NextJS, right?

[2022-09-18 18:59] jeremydaly commented on #180
Well, not useless. 😀

But yes, unless you have accompanying APIs that you're using outside your NextJS app, then you likely don’t need to access that url directly.

[2022-09-18 20:13] #180 closed

[2022-09-18 23:18] romanellius opened #181 "How to debug in VSCode?"
Hi!
I've created a Nextjs app and I'm trying to debug the API.
I usually use [auto attach](https://code.visualstudio.com/docs/nodejs/nodejs-debugging) to debug Nodejs in VSCode but can't make it work with the Cloud CLI. It doesn't attach.
Looked through the docs and found nothing about debugging using the Developer Sandbox.
Thank you!

[2022-09-19 04:39] emrahssamdan commented on #181
Hi @romanellius, as you also found out, the only way that could work is attaching the process id to your local server we created for you. However, we also don't think that it would be convenient.

Lack of debugging capabilities is a known issue for us and the only method I can recommend for now is using the print statements. We hope to work on broader debugging capabilities soon.

[2022-09-19 10:16] #118 closed

[2022-09-19 10:17] #114 closed

[2022-09-22 17:06] tomhanoldt opened #182 "BUG: too many logs on test instance -> TypeError: data.replace is not a function"
When printing too many logs on a test instance (cloud cli version v2.10.20 and before), the run fails consequently with:

[code]

After investigating a little I could trace the problem to `src/utils/parseLog.ts#init_parseLog` - the method recived a non string value of
[code]

not critical, just to let you jnow

[2022-09-23 16:04] tomhanoldt commented on #177
unfortunately i have to reopen the issue, since today the error case occurs again

[2022-09-23 17:06] benminer commented on #177
Will fix this, thanks for the callout.

[2022-09-23 19:01] benminer commented on #177
@tomhanoldt Were you getting this on `set` calls or `getByLabel` calls?

[2022-09-24 04:53] tomhanoldt commented on #177
by label calls when running this code for example:

[code]

[2022-09-24 13:57] tomhanoldt commented on #177
It was a fault on my side, sorry - but maybe you could improve the documentation and add a check when storing an item:
- accidently I added two `:` colons as a namespaces for a label key and was able to write it to the data store
- when trying to read that item it failed

...but why the examplem above failed I dont know

[2022-10-01 21:08] emrahssamdan commented on #182
Hi @tomhanoldt, this should be resolved now. Could you please check and let us know?

[2022-10-01 21:09] #177 closed

[2022-10-01 21:09] #174 closed

[2022-10-01 21:10] #146 closed

[2022-10-02 08:05] tomhanoldt commented on #182
perfect, works - thank you and the team much 🥇

[2022-10-02 08:05] #182 closed